<!-- Courses start -->
<!-- Courses start -->
<main id="course" class="course mt-2">
    <div class="container ">

        <!-- Section Head -->
        <h1 class="fw-bold text-center h1-responsive my-2 ">
            Courses
        </h1>
        <p class="text-center w-responsive mx-auto mb-1">
            Courses from top universities and companies to help you start or advance your career skills in new
            technology.
        </p>
        <!-- Section Head -->

        <div class="row mt-5">
            <div class="col-md-3 mb-4 h-100">
                <!-- card start -->
                <!-- 1st -->
                <div class="card box shadow">
                    <img src="../../assets/Images/course1.jpg" class="card-img-top shadow-sm" alt="Computer Technology">
                    <div class="card-body">
                        <h5 class="card-title para">Java Full Stack Development</h5>
                        <p class="card-text">This Java Full Stack Developer program guarantees* successful placement
                            performance based on the average salary packages
                            offered, the hiring companies participating, and speed of offer roll-out.
                        </p>
                        <a routerLink="" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
            <!-- 1st -->

            <!-- 2nd -->
            <div class="col-md-3 mb-4 h-100">
                <!-- card start -->
                <div class="card box shadow">
                    <img src="../../assets/Images/course5.jpg" class="card-img-top shadow-sm"
                        alt="Electrical_engineering">
                    <div class="card-body">
                        <h5 class="card-title">Data Science </h5>
                        <p class="card-text para">Data science is an essential part of many industries today, given the
                            massive amounts of data that are produced, and is
                            one of the most debated topics in IT circles.</p>
                        <a routerLink="" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
            <!-- 2nd -->

            <!-- 3rd -->
            <div class="col-md-3 mb-4 h-100">
                <!-- card start -->
                <div class="card box shadow">
                    <img src="../../assets/Images/course3.jpg" class="card-img-top shadow-sm"
                        alt="Mechanical_engineering">
                    <div class="card-body">
                        <h5 class="card-title">Cloud Computing</h5>
                        <p class="card-text para">Cloud computing is the on-demand availability of computer system
                            resources,
                            especially data storage and computing power,
                            without direct active management by the user.</p>
                        <a routerLink="" class="btn btn-primary">Explore</a>
                    </div>
                </div>
                <!-- card ends -->
            </div>
            <!--3rd -->

            <!-- 4th -->
            <div class="col-md-3 mb-4 h-100">
                <!-- card start -->
                <div class="card box shadow">
                    <img src="../../assets/Images/course4.jpg" class="card-img-top shadow-sm"
                        alt="Mechanical_engineering">
                    <div class="card-body">
                        <h5 class="card-title">Data Analyst</h5>
                        <p class="card-text para">Data analysis is a process of inspecting, cleansing, transforming, and
                            modeling data with the goal of discovering useful
                            information, informing conclusions, and supporting decision-making.</p>
                        <a routerLink="" class="btn btn-primary">Explore</a>
                    </div>
                </div>
                <!-- card ends -->
            </div>
            <!--4th -->
        </div>
    </div>

</main>
<!-- Courses Ends -->
<!-- Courses Ends -->