<h4 class="d-flex justify-content-center pt-4 text-decoration-underline fw-bold">Student Dashboard</h4>

<div class=" text-decoration-none mt-4 mx-4">
    <ul class="me-auto mb-2 mb-lg-0 mx-auto d-flex justify-content-start list-group list-group-horizontal">
        <li class="list-group-item list-group-item-primary">
            <a class="fw-bold text-dark" routerLink="students">Manage Students</a>
        </li>
        <li class="list-group-item list-group-item-danger">
            <a class="fw-bold text-dark" routerLink="add"><i class="fa-solid fa-plus px-1 rounded-circle "></i>Add</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>