<!-- Gallery Starts -->
<!-- Gallery Starts -->
<main class="mt-4" id="gallery">
    <div class="container ">

        <!-- Section Head -->
        <h1 class="fw-bold text-center h1-responsive my-2 ">
            Gallery
        </h1>
        <p class="text-center w-responsive mx-auto mb-1">
            All gallery exhibitions, artist talks, and programs are free and open to the public.
        </p>
        <!-- Section Head -->
    </div>


    <div class="container mt-5">
        <!-- Gallery -->
        <div class="row">
            <!-- col-md-12 -->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="../../assets/Images/gall1.jpg" class="w-100 shadow rounded mb-4" alt="gall1" />

                <img src="../../assets/Images/gall2.jpg" class="w-100 shadow rounded mb-2 gall2" alt="gall2" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="../../assets/Images/gall3.jpg" class="w-100 shadow rounded mb-4 " alt="gall3" />

                <img src="../../assets/Images/gall4.jpg" class="w-100 shadow rounded mb-2" alt="gall4" />
            </div>

            <div class="col-lg-4 mb-3 mb-lg-0">
                <img src="../../assets/Images/gall5.jpg" class="w-100 shadow rounded mb-4" alt="gall5" />

                <img src="../../assets/Images/gall6.jpg" class="w-100 shadow rounded mb-4" alt="gall6" />
            </div>
        </div>
        <!-- Gallery -->
    </div>


</main>
<!-- Gallery Ends -->
<!-- Gallery Ends -->