<!-- About Start -->
<!-- About Start -->
<main id="about">
    <div class="about mt-5">
        <div class="container">

            <!-- Section Head -->
            <h1 class="fw-bold text-center h1-responsive my-2 ">
                About Us
            </h1>
            <p class="text-center w-responsive mx-auto mb-1">
                The modern system of education was heavily influenced by the British starting in 1835.
            </p>
            <!-- Section Head -->

            <div class="row pt-5 ">
                <div class="col-md-6 col-sm-12 align-item-stretch mb-2">
                    <img src="../../assets/Images/about2.jpg" alt="About" class="img-fluid mb-2 rounded-2 shadow">
                </div>

                <div class="col-md-6">
                    <p class="lh-base">A learning system based on formalised teaching but with the help of electronic
                        resources is known as E-learning. While
                        teaching can be based in or out of the classrooms, the use of computers and the Internet forms
                        the major component of E-learning.</p>
                    <p> E-learning can also be termed as a network enabled transfer of skills and
                        knowledge, and the delivery of education is
                        made to a large number of recipients at the same or different times. Earlier, it was not
                        accepted
                        wholeheartedly as it
                        was assumed that this system lacked the human element required in learning.n online learning
                        platform is a webspace or portal for educational content and resources that offers a student
                        everything they need in one place: lectures, resources, opportunities to meet and chat with
                        other students, and more.</p>

                    <div class="container">
                        <a routerLink="" class="btn btn-primary px-2 pl-2 mt-1">Read
                            More</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>
<!-- <hr> -->
<!-- About Ends -->