/* You can add global styles to this file, and also import other style files */
body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

p {
    text-align: justify !important;
}