<header class="text-center text-lg-start bg-dark text-white " id="home">

    <!-- Section: Social media -->
    <!-- Section: Social media -->
    <div class="container-fluid">
        <section class="d-flex justify-content-center justify-content-lg-between p-2 d-none d-md-flex">
            <!-- Left starts -->
            <!-- Left starts -->
            <div class="me-5 d-lg-block ">
                <span class="mx-2 "><i class="fa-solid fa-phone mx-2"></i> <a href="tel:123-456-7890"
                        class="me-4 text-white ">123-456-7890</a></span>
                <span><i class="fa-solid fa-envelope mx-2"></i><a href="mailto: insightcollege@email.com"
                        class="me-4 text-white ">
                        skilledge@email.com
                    </a></span>
            </div>
            <!-- Left ends-->
            <!-- Left ends-->

            <!-- Right start -->
            <!-- Right start -->
            <div>
                <a routerLink="" class="me-4 text-white">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a routerLink="" class="me-4 text-white">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a routerLink="" class="me-4 text-white">
                    <i class="fa-brands fa-google"></i>
                </a>
                <a routerLink="" class="me-4 text-white">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a routerLink="" class="me-4 text-white">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a routerLink="" class="me-4 text-white">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <!-- Right end -->
            <!-- Right end -->
        </section>
    </div>
    <!-- Section: Social media -->
    <!-- Section: Social media -->

    <!-- place navbar here -->
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand me-4 mx-4 d-flex justify-content-center align align-items-center" routerLink="">
                Skill Edge
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" aria-current="page" routerLink=""
                            routerLinkActive="active-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" routerLink="about" routerLinkActive="active-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" routerLink="courses" routerLinkActive="active-link">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" routerLink="gallery" routerLinkActive="active-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" routerLink="services" routerLinkActive="active-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" routerLink="contact" routerLinkActive="active-link">Contact</a>
                    </li>
                </ul>

                <div class="nav navbar-right d-flex justify-content-center align-items-center ">
                    <!-- Login -->
                    <button class="btn btn-primary btn-sm apl_btn d-none d-md-block fw-bold mx-2" type="submit"><a
                            routerLink="" class="text-white">Login</a>
                    </button>

                    <!-- Register -->
                    <button class="btn btn-danger btn-sm apl_btn d-none d-md-block fw-bold mx-2" type="submit"><a
                            routerLink="" class="text-white ">Register</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>